<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="https://www.logoarena.com/contestimages/public_new/6873/12633_1459056502_mainmusicevent1.png" width="100px" height="100px">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="home">Home </a>
        <a class="nav-item nav-link" routerLink="events">Events</a>
        <a class="nav-item nav-link" routerLink="Contact">Contact</a>
        <a class="nav-item nav-link" routerLink="Feedback">Feedback</a>
      </div>
    </div>
  
  </nav>
  <h1>HAPPY EVENTS</h1>
  <h2>
  <img src="assets/images/12-120666_15-smiley-face-png-for-free-on-mbtskoudsalg.png" width="150px">
  </h2>