body{
    background-image: url('https://th.bing.com/th/id/R.3b229cc1499c8d89c22eabeba58041bd?rik=7mZc3%2fLlpyiUbQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fjR7NKuj.jpg&ehk=m5hC7muFJNTyfXG6ypsR3%2f6BlIAdGlin%2bVX2NR0astA%3d&risl=&pid=ImgRaw&r=0');
    background-size: cover;
}
.box{
    background-color: #f1f5f7
    ;
    width: 40vw;
    height: 70vh;
    margin: 0px;
    
    padding-top: 20px;
    }
    .box .val h2{
    font-style: oblique;
    margin-bottom: 10px;
    
    }
    .box form {
    justify-content: left;
    display: block;
    }
    .box .name {
    font-size: 20px;
    padding: 10px;
    }
    .box .name input{
    width: 30vw;
    margin-right: 10px;
    height: 4vh;
    }
    .box .email{
    font-size: 20px;
    margin-top: 15px;
    padding: 10px;
    }
    .box .email input{
    width: 30vw;
    height: 4vh;
    }
    .box .phone{
    font-size: 20px;
    margin-top: 15px;
    padding: 10px;
    }
    .box .phone input{
    width: 30vw;
    height: 4vh;
    }
    .box .message{
    font-size: 20px;
    margin-top: 15px;
    padding: 10px;
    }
    .box .message textarea{
    width: 30vw;
    height: 8vh;
    }
    .box .submit {
    padding: 10px;
    }
    .box .submit button{
    width: 8vw;
    background-color: whitesmoke;
    cursor: pointer;
    }
    .box .submit button:hover{
        background-color: red;
        color: white;
    }
    